<%= render('layouts/errors', :object => @job) %>

<div class="row justify-content-center mb-3">
  <div class="col-9">
    <div class="card card-body">
      <%= form_for [current_user, @job] do |f| %>
        <div class="form-group row mb-0">
          <%= f.label :name, :class => "col-2 col-form-label offset-1" %>
          <%= f.text_field :name, :class => "form-control col-4" %>
          <%= f.submit :class => "btn btn-success col-3 offset-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-9">
<% if current_user.jobs.count > 0 %>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Job Name</th>
        <th scope="col">Address Count</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.jobs.each_with_index do |job, i| %>
        <% if job.name %>
          <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= link_to job.name, user_job_path(current_user, job) %></td>
            <td><%= job.addresses.count %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No jobs yet</p>
<% end %>
  </div>
</div>
